.wrapper {
    position: relative;
    width: 600px;
    height: 100%;
    padding-top: 100px;
}
.container {
    position: relative;
    width: 100%;
    height: calc(80px*5 + 4*16px);
    padding: 0 16px 0 0;
    overflow: auto;
    display: flex;
    flex-flow: column;
    gap: 16px;
    scrollbar-width: unset !important;
    scrollbar-color: unset !important;
    scroll-snap-type: y mandatory;

    &.hFree {
        /* height: 80px; */
        height: auto;
        padding-right: 24px;
    }
}

.container::-webkit-scrollbar {
    width: 8px;
}
.container::-webkit-scrollbar-track {
    background: #2F2F37;
}
.container::-webkit-scrollbar-thumb {
    display: inline-block;
    border-radius: 0;
    background: #8585AD;
    width: 8px;
}

@-moz-document url-prefix() {
    .container {
        scrollbar-color: #8585AD #2F2F37 !important;
        scrollbar-width: thin !important;
    }
}

.item {
    position: relative;
    scroll-snap-align: start;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

.bun {
    position: relative;
    background-color: #1C1C21;
    min-height: 80px;
    padding: 16px 24px;
    user-select: none;
    box-shadow: 0 0 0 0 transparent;
    transition: all 0.7s ease;
}
.topbun {
    margin-bottom: 16px;
    margin-left: 40px;

    &.undefinedBun {
        border-radius: 88px 88px 40px 40px;
    }
}
.btmbun {
    margin-top: 16px;
    margin-left: 40px;

    &.undefinedBun {
        border-radius: 40px 40px 88px 88px;
    }
}

.undefinedBun {

    opacity: 0.5 !important;

    & img {
        opacity: 0;
    }
}

.canAccepted {
    box-shadow: inset 0 0 200px 0 rgba(51, 51, 255, 0.5),
    0px 0px 60px 8px rgba(51, 51, 255, 0.25), 0px 0px 8px 8px rgba(51, 51, 255, 0.25);;
}

.confirm_order {
    position: relative;
    display: flex;
    padding: 40px 24px 0 0;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: end;
}
.confirm_order_icon {
    margin: 0 40px 0 12px;
}

.drug_btn {
    cursor: grab;
}
.is_Dragging {
    opacity: 0;
}

@media screen and (max-height: 950px) {
    .container {
        height: calc(80px*3 + 2*16px);
    }

}

@media screen and (max-height: 800px) {
    .wrapper {
        padding-top: 60px;
    }
    .container {
        height: calc(60px*3 + 2*16px);
        &.hFree {
            height: calc(60px*3 + 2*16px);
            padding-right: 24px;
        }
    }
    .bun {
        min-height: auto;
        height: 60px;
        padding: 0 24px;
        display: flex;
        align-items: center;
        & > span {
            width: 100%;
        }
    }

    .confirm_order {
        padding-top: 20px;
    }
    .confirm_order_total {
        font-size: 36px;
    }
    .confirm_order_btn {
        padding: 10px 30px;
    }
}


.zlo {
    background: red;
}