.wrapper {
    position: relative;
    width: 80%;
    margin: auto;
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.dot {
    display: inline-flex;
    width: 6px;
    height: 6px;
    background: rgba(255, 255, 255, 0.7);
    box-shadow: inset 0 0 10px rgb(228, 126, 253);
    margin: 0 3px;
    border-radius: 50%;
    animation: jump 2s infinite ease;

    &:nth-child(2n){
        animation: jump 2s infinite ease;
    }
}

@keyframes jump {
    0% {
      transform: translateY(0)
    }
    50% {
      transform: translateY(-6px)
    }
    100% {
        transform: translateY(6px)
    }
  }