.App {
    position: relative;
    width: 100%;
    height: 100vh;
    background: var(--background-alt);
    padding: 40px;
    display: flex;
    flex-flow: column;
}
.mainarea {
    position: relative;
    width: var(--content-width);
    height: calc(100vh - 80px - 88px);
    display: flex;
    flex-flow: row;
    align-items: stretch;
    justify-content: space-between;
    margin: auto;
    overflow: hidden;
}