html * {
  padding: 0;
  margin: 0;
  outline: none;
  border: 0;
  background: transparent;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  color: inherit;
  box-sizing: border-box;
  box-shadow: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@import url(@ya.praktikum/react-developer-burger-ui-components/dist/ui/fonts/fonts.css);
@import url(@ya.praktikum/react-developer-burger-ui-components/dist/ui/common.css);
@import url(@ya.praktikum/react-developer-burger-ui-components/dist/ui/box.css);